*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: rgb(253, 212, 158);
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 30px rgba(75, 71, 71, 0.945);
    border-radius: 15px;
    border: solid rgb(168, 104, 30);
    background: rgb(245, 245, 242);
    overflow: hidden;
    
}
form input {

    width: 100%;
    height: 150px;
    border: solid white;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem;
    color: rgb(248, 246, 218);
    background-color: rgb(0, 0, 0);
    text-align: center;
    pointer-events: none;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:20px;
}
button{
    flex: 0 0 22%;
    margin: 5px 0;
    border: 1px solid rgb(12, 12, 12);
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
}
.button2{
    width: 90px;
    margin-left: 120px;
    margin-top: 5px;
}
.btn-yellow{
    background:rgb(255, 234, 113);
    color: rgb(17, 17, 16);
    border: solid rgb(158, 146, 36);
}
.btn-grey{
    background:rgb(2, 2, 2);
    color: rgb(247, 213, 169);
}
.btn-equal{
    background:rgb(3, 105, 25);
    border: solid rgb(3, 92, 3);

}
.btn-clear{
    background:rgb(212, 102, 28);
    border: solid rgb(189, 76, 36);
}